/* Example CSS to ensure images are visible */


.icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: baseline;
}
.sideBar {
  width: 250px;
  margin-top: -10px; /* adjust this value if needed */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon:hover{
  color: blue;
}

